@model IEnumerable<CartItemViewModel>

@{
    ViewData["Title"] = "Items";
}

<h2>Your item</h2>

@foreach (var item in Model)
{
    <div>
        @item.Name - $@item.Price - Quantity: @item.Quantity
        <a class="btn btn-primary" asp-controller="ShoppingCart" asp-action="AddToCart" asp-route-id="@item.SupplementId">Add To Cart</a>
        <a class="btn btn-primary" asp-controller="ShoppingCart" asp-action="RemoveFromCart" asp-route-id="@item.SupplementId">Remove From Cart</a>
    </div>
}

<hr />
Total Price: $@Model.Sum(s => s.Price * s.Quantity)

<a class="btn btn-primary" asp-controller="ShoppingCart" asp-action="FinishOrder">Finish Order</a>
