@model int

@{
    ViewData["Title"] = "Delete Article";
}

<h2>@ViewData["Title"]</h2>

<br />

<h3>Are you sure you want to delete this Article?</h3>
<br />

<a asp-controller="Article" asp-action="Index" class="btn btn-default">Back</a>
<form asp-controller="Article" asp-action="Destroy" asp-route-id=@Model method="post" class="btn btn-danger">
    <button type="submit" formmethod="post" class="btn btn-danger">Delete</button>
</form>